@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #00649a;
$tertiary_color: #ffba00;
$background: #e8e8e7;
$border: #000;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.row {
		max-width: $max-width;
	}
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-bottom: 1px solid $secondary_color;
							}
						}
						a {
							padding: 10px 0;
							&:hover {
								border-bottom: 1px solid $secondary_color;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		max-height: 60px;
		position: relative;
		z-index: 10;
	}
	.moduletable_to4 {
		input {
			&[type='search'] {
				height: inherit;
				margin: 0;
				padding: 5px 20px;
				background: {
					image: url(moduletable_to4_input_bg.png);
					position: 6px 8px;
					repeat: no-repeat;
				}
				border: {
					color: $secondary_color;
					radius: 0;
				}
				font-size: 12px;
			}
		}
		button {
			display: none;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $tertiary_color;
			border-radius: 0;
		}
	}
	#wpmm-wrap-product-menu {
		width: 100%;
	}
	.moduletable_le1 {
		.bellows {
			margin: 0;
			background-color: transparent !important;
			box-shadow: none;
			ul {
				li {
					&.bellows-current-menu-item {
						a {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
					}
					&.bellows-menu-item-has-children.bellows-active {
						a {
							&.bellows-target {
								background-color: transparent !important;
								color: $secondary_color !important;
							}
						}
					}
					a {
						margin: 0;
						padding: 10px;
						border: 0 !important;
						border-bottom: 1px solid #ccc !important;
						font-size: 14px;
						color: $secondary_color !important;
						&:hover {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
						span.bellows-subtoggle {
							width: 50px;
							background: transparent !important;
						}
					}
					ul {
						border: 0;
						li {
							a {
								font-size: 14px;
								text-transform: initial;
							}
						}
					}
				}
			}
		}
	}
	.woocommerce {
		h1 {
			&.page-title {
				margin: {
					left: auto;
					right: auto;
				}
				color: $tertiary_color;
			}
		}
		p {
			&.woocommerce-result-count {
				width: 100%;
				text-align: center;
			}
		}
		ul.products {
			li.product {
				margin-bottom: 10px;
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					img {
						margin-bottom: 10px;
					}
					h2.woocommerce-loop-product__title {
						width: 100%;
						padding: 10px 5px !important;
						background-color: $tertiary_color;
						font-size: 16px;
						color: #fff;
						text-align: center;
					}
				}
			}
		}
		.product {
			h1 {
				&.product_title {
					font-size: 30px;
					border: 0;
					color: $tertiary_color;
				}
			}
			.description {
				text-align: justify;
			}
		}
		a,
		button {
			&.button {
				background-color: $tertiary_color;
				border-radius: 0;
				color: #fff;
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
	&.blue {
		background: {
			color: $secondary_color;
			image: url(patron_bg.png);
			position: center;
		}
		.container {
			margin-top: -150px;
			padding: 30px 70px;
			background-color: #fff;
			position: relative;
			h1 {
				margin-bottom: 40px;
				padding-bottom: 20px;
				background: {
					image: url(h1_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font: {
					size: 56px;
					weight: bold;
				}
				color: $tertiary_color;
			}
		}
	}
	&.yellow {
		background: {
			color: $tertiary_color;
			image: url(patron_bg.png);
			position: center;
		}
		.container {
			margin-top: -150px;
			padding: 30px 70px;
			background-color: #fff;
			position: relative;
			h1 {
				margin-bottom: 40px;
				padding-bottom: 20px;
				font: {
					size: 56px;
					weight: bold;
				}
				color: $tertiary_color;
			}
		}
	}
}

.pswp__caption {
	display: none !important;
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background: {
		image: url(patron_bg.png), url(block_1.png);
		position: top, bottom;
		repeat: no-repeat, repeat-x;
	}
	.moduletable_b11 {
		h3 {
			margin-bottom: 0;
			font: {
				size: 32px;
				weight: bold;
			}
			color: $tertiary_color;
		}
		p {
			&.subtitle {
				margin: 0;
				padding-bottom: 5px;
				background: {
					image: url(moduletable_b11_subtitle_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font-style: italic;
			}
		}
		h4 {
			&.item {
				margin: 0;
				padding-top: 10px;
				background: {
					image: url(moduletable_b11_item_bg.png);
					position: top;
					repeat: no-repeat;
				}
				font: {
					size: 28px;
					weight: bold;
				}
				color: #fff;
				line-height: 30px;
				text-align: center;
				a {
					color: #fff;
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	background: {
		image: url(patron_bg.png);
		position: center;
		repeat: no-repeat;
	}
	.moduletable_b21 {
		h3 {
			margin-bottom: 0;
			font: {
				size: 32px;
				weight: bold;
			}
			color: $tertiary_color;
		}
		p {
			&.subtitle {
				margin: 0;
				padding-bottom: 5px;
				background: {
					image: url(moduletable_b11_subtitle_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font-style: italic;
			}
		}
		.item {
			padding: 10px;
			background-color: $secondary_color;
			font-size: 22px;
			color: #fff;
			a {
				color: #fff;
			}
			.yellow {
				color: $tertiary_color;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background: {
		image: url(patron_bg.png);
		position: center;
		repeat: no-repeat;
	}
	.row {
		max-width: $max-width;
	}
	.moduletable_b31 {
		h3 {
			margin-bottom: 0;
			font: {
				size: 32px;
				weight: bold;
			}
			color: $tertiary_color;
		}
		p {
			&.subtitle {
				margin: 0;
				padding-bottom: 5px;
				background: {
					image: url(moduletable_b11_subtitle_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font-style: italic;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	background: {
		image: url(patron_bg.png);
		position: center;
		repeat: no-repeat;
	}
	.moduletable_b41 {
		h3 {
			margin-bottom: 0;
			font: {
				size: 32px;
				weight: bold;
			}
			color: $tertiary_color;
		}
		p {
			&.subtitle {
				margin: 0;
				padding-bottom: 5px;
				background: {
					image: url(moduletable_b11_subtitle_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font-style: italic;
			}
		}
	}
}

/* Block 5 */

.block_5 {
	.moduletable_b51 {
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 15px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		p {
			margin: 0;
			color: #fff;
			a {
				color: #fff;
				i {
					margin: 0 10px;
					font-size: 20px;
					display: inline-block;
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 15px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}